[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
presto-python-client = "==0.8.2"
aiohttp = "*"
google-auth = "*"
aiofile = "*"

[dev-packages]

[requires]
python_version = "3.10"
